/* COLORS */
html {background: #fed;}
body {background: #def;}
table {background: #ccf;}
th, td {background: #ffc;}
th:nth-of-type(2n+2), td:nth-of-type(2n+2) {background: #fcf;}
th:nth-of-type(3n+3), td:nth-of-type(3n+3) {background: #cff;}
iframe {background: #fff;}
header {background: #cfc;}
nav {background: #fcc;}
nav ul {background: #9cf;}
nav ul li {background: #efe;}
section {background: #fc9;}
section article {background: #9fc;}
footer {background: #cf9;}
/* LAYOUT */
html {font-family: 'Helvetica','Arial',sans-serif; color: #666;}
/*body {font-size: 62.5%;}*/
table {width: 100%; height: 100%;}
th, td {padding:5px;}
th {height: 2em; padding-bottom: 0;}
h1, h2, h3, h4, h5, h6, p {text-align: center; margin: 0; padding: 10px;}
p {text-align: left;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.125em;}
h5 {font-size: 1em;}
h6 {font-size: 0.875em;}
th p, td p {text-align: center;}
* + p {padding-top: 0;}
em {font-family: monospace; font-size: 1.5em}
iframe {}
header {
	display: block;
	width: 100%;
	min-height: 2em;
}
nav {
	display: block;
	width: 100%;
	min-height: 2em;
	margin: 0 auto; padding: 0;
	text-align: center;
	overflow: hidden;
	/*OVERRIDES*/
	display: none;
	min-height: 0;
	height:0;
}
nav ul {
	/*float: left;*/
	width: 80%;
	margin: 0 auto; padding: 0;
	text-align: center;
	clear: both;
}
nav ul li {
	float: left;
	list-style-type: none;
	width: 33%;
	margin: 0; padding: 0;
	text-align: center;
}
nav ul li a {
	display: block;
	margin: 0; padding: 1em;
	text-align: center;
	clear: both;
}
section {
	display: block;
	width: 100%;
	height: 100%;
}
section article {
	display: block;
	width: 100%;
	height: 100%;
}
footer {
	display: block;
	width: 100%;
	min-height: 2em;
	/*OVERRIDES*/
	display: none;
	min-height: 0;
	height:0;
}
/* OVERRIDES */
