.slider { margin-top:10em !important; }

h3, .description { position:absolute; top:-3em; left:0; display:block; width:100%; padding:0; margin:0; }
h3 { color:#999;border-bottom:1px #eee solid; }
.description { color:#ccc;top:-2em; }

.select { position:relative; top:2.5em; left:-1.5em; width:5em; z-index:100000; padding:2px; margin:0; border:1px solid #c0c0c0; background:#e0e0e0; }
#selectMinMax, #selectLo, #selectHi {  }

.input { position:relative; top:-2.5em; left:-1.5em; width:3em; z-index:100000; padding:0; margin:0; border:none; }
#inputMinMax, #inputLo, #inputHi { padding:0; margin:0; border:none; background:#808080; color:#fff; }

.handle {  }
#handleMinMax, #handleLo, #handleHi { border:none; background:#c0c0c0; }
